<a href="https://colab.research.google.com/github/Jayameena832/Interest-Level-estimation/blob/main/index(genre%2Brating).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/genres+ratings(without index).csv")

In [ ]:
df.head()

,2,1.497754886,1.562286981,1.406840777,1.401640301,1,2.1,1.562286981.1,1.1,1.451729131,...,0.562286981.22,0.266,0.267,0.268,0.269,1.92,0.451729131.12,0.270,1.353526803.2,0.354175894
0,1.497755,2.000000,1.279881,1.202507,1.806904,1.000000,1.497755,1.279881,1.000000,1.224850,...,0.279881,0.000000,0.0,0.0,0.000000,1.000000,0.224850,0.0,1.710243,0.176293
1,1.562287,1.279881,2.000000,1.228761,1.714298,1.826942,1.562287,2.000000,1.615786,1.803378,...,1.000000,0.000000,0.0,0.0,0.000000,1.282526,0.803378,0.0,1.198784,0.199148
2,1.406841,1.202507,1.228761,2.000000,1.163404,1.000000,1.406841,1.228761,1.000000,1.183782,...,0.228761,0.671937,0.0,0.0,0.695892,1.000000,0.183782,0.0,1.143829,0.870552
3,1.401640,1.806904,1.714298,1.163404,2.000000,1.590683,1.401640,1.714298,1.439855,1.573851,...,0.714298,0.000000,0.0,0.0,0.000000,1.201808,0.573851,0.0,1.573098,0.142251
4,1.000000,1.000000,1.826942,1.000000,1.590683,2.000000,1.000000,1.826942,1.744655,1.664347,...,0.826942,0.000000,0.0,0.0,0.000000,1.341651,0.664347,0.0,1.000000,0.000000

In [ ]:
import numpy as np 
from matplotlib import pyplot as plt
data = np.genfromtxt('/content/genres+ratings(without index).csv', delimiter=',')

In [ ]:
data

array([[2.        , 1.49775489, 1.56228698, ..., 0.        , 1.3535268 ,
        0.35417589],
       [1.49775489, 2.        , 1.27988109, ..., 0.        , 1.71024276,
        0.17629278],
       [1.56228698, 1.27988109, 2.        , ..., 0.        , 1.19878352,
        0.19914849],
       ...,
       [0.        , 0.        , 0.        , ..., 2.        , 0.        ,
        0.        ],
       [1.3535268 , 1.71024276, 1.19878352, ..., 0.        , 2.        ,
        0.3669068 ],
       [0.35417589, 0.17629278, 0.19914849, ..., 0.        , 0.3669068 ,
        2.        ]])

In [ ]:
import numpy as np
import pandas as pd

filepath = "/content/genres+ratings(without index).csv"
df = pd.read_csv(filepath)

list1 = []
for i in range(df.shape[0]):
    for j in range(df.shape[1]):
        if df.iloc[i, j] == 0:
            list1.append((i, j))

In [ ]:
extract = np.zeros((600,5))

In [ ]:
dd = pd.DataFrame(list1)

In [ ]:
import random
# for i in range(0,599):
rand = (random.choices(dd[0],k=5))

In [ ]:
rand

[(557, 204), (490, 341), (130, 495), (102, 49), (403, 8)]

In [ ]:
dd[1]

0          22
1          53
2          74
3          90
4         104
         ...
134748    588
134749    589
134750    592
134751    595
134752    597
Name: 1, Length: 134753, dtype: int64

In [ ]:
dd.to_csv("index.csv")